<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wd.tech">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:name=".core.WDApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <activity android:name=".view.HomeActivity" />
        <activity android:name=".view.SortActivity" />
        <activity android:name=".view.DetailActivity" />
        <activity android:name=".view.SearchActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.AddCircleActivity" />
        <activity android:name=".view.RegisterActivity" />
        <activity android:name=".myview.CollectionActivity" />
        <activity android:name=".myview.FocusOnActivity" />
        <activity android:name=".myview.PostActivity" />
        <activity android:name=".myview.NoticeActivity" />
        <activity android:name=".myview.IntegralActivity" />
        <activity android:name=".myview.TaskActivity" />
        <activity android:name=".myview.SetUpActivity" />
        <activity android:name=".view.AddFriendsActivity" />
        <activity android:name=".view.FlockActivity" />

        <activity android:name=".view.SortListActivity" />
        <activity android:name=".myview.PerfectActivity" />
        <activity android:name=".myview.SignatureActivity" />
        <activity android:name=".view.InforDetailsActivity" />
        <activity android:name=".view.FindUserActivity" />
        <activity android:name=".view.AddListActivity" />
        <activity android:name=".view.FindGroupActivity" />
        <activity android:name=".view.AddGroupActivity" />
        <activity android:name=".view.MyGroupActivity" />
        <activity android:name=".view.WXLoginActivity" />
        <activity android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.SearchResultActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.SpaceActivity" />
        <activity android:name=".myview.SiginActivity" />
        android:theme="@style/AppTheme" />
        <activity android:name=".view.MyFriendnewsActivity" />
        <activity android:name=".view.ChatActivity"></activity>
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1182180123115181#weixinandqq" /> <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <activity android:name=".view.AdvertWebActivity"></activity>
        <activity android:name=".myview.ChangePassActivity" />
        <activity android:name=".view.CommentActivity"></activity>
    </application>

</manifest>